
.zdj1{
    display:block;
    margin-top:80px;
    margin-left:50px;
    border-radius: 2%;
    
}
.zdj2{
    display:block;
    border-radius: 3%;
    position:absolute;
    top:80px;
    right:50px;
    
}
.zdj3{
    display:block;
    border-radius: 3%;
    position:absolute;
    right:50px;
    top:310px;
    
}
#burg{
    height:50px;
    width:240px;
    font-size:11px;
    font-family: 'Roboto', sans-serif;
    background-color:#f5bf42;
    position:absolute;
    right:41%;
    bottom: 90px;
}

h1 {
    color:#572a0d;
}